.navbar-brand {
  font-weight: 700;
}

.nav-link {
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: rgb(38, 26, 164, 0.7);
}

.navbar-light .navbar-nav .nav-item.active .nav-link:hover {
  color: rgb(38, 26, 164);
}

.navbar-light .navbar-nav .nav-item .nav-link.disabled:hover {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .nav-link.disabled {
  position: relative;
  cursor: not-allowed;
  pointer-events: auto;
}

/* tooltip */
/* TODO: fix for mobile screens */
.navbar-light .navbar-nav .nav-link.disabled::after {
  content: 'Coming soon';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
  white-space: nowrap;
  margin-top: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease, visibility 0.25s ease;
}

/* smoothness  */
.navbar-light .navbar-nav .nav-link.disabled:hover::after {
  opacity: 0.9;
  visibility: visible;
}
